<h1>Listagem de Artigos</h1>
<p>
  <%= link_to "Criar Artigo", new_artigo_path %>
</p>
<table border="1">
  <tr>
    <th>Titulo</th>
    <th>Descrição</th>
    <th>Ação</th>
    <th>Exibir</th>
    <th>Remover</th>
  </tr>
  <% @artigos.each do |artigo|%>
  <tr>
    <td><%= artigo.titulo %></td>
    <td><%= artigo.descricao %></td>
    <td><%= link_to "Editar", edit_artigo_path(artigo) %></td>
    <td><%= link_to "Exibir", artigo_path(artigo) %></td>
    <td><%= link_to "Remover", artigo_path(artigo), method: :delete, data: { confirm: "Tem certeza?" } %></td>
  </tr>
  <% end %>
</table>
