<h2 class="center">Título <%= @artigo.titulo %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @artigo.user %>
  <ul class="listagem">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
          <li>Criado por:</li>
          <li><%= link_to gravatar_for(@artigo.user), user_path(@artigo.user) %></li>
          <li class="artigo-titulo"><%= link_to @artigo.user.username, user_path(@artigo.user) %></li>
          <li><small><%= pluralize(@artigo.user.artigos.count, "Artigo") if @artigo.user.artigos %></small></li>
        </div>
      </div>
    </ul>
    <% end %>
  <h4 class="center descricao">
    <strong>Descrição:</strong>
  </h4>
  <hr>
  <%= simple_format(@artigo.descricao) %>
  <div class="artigo-actions">
    <% if logged_in? && current_user == @artigo.user %>
    <%= link_to "Editar", edit_artigo_path(@artigo), class: "btn btn-xs btn-primary" %>
    <%= link_to "Remover", artigo_path(@artigo), 
                              method: :delete, 
                              data: { confirm: "Deseja remover?" }, 
                              class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Voltar", artigos_path, class: "btn btn-xs btn-success" %>
  </div>
</div>